* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    padding: 60px;
    background-color: yellow;
  }
  
  input{
    font-size: 1.3rem;
    width: 100%;
  }
  
  .card{
    align-content: center;
    border: 1px solid grey;
    border-radius: 6px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    background-color: white;
  }
  
  .card p{
    padding: 5px;
    text-align: center;
  }
  
  .card img{
    max-height: 170px;
  }
  
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .header{
    height: 50px;
    text-align: center;
    font-weight: bold;
  }